#aboutus{
	margin-bottom: 40px;
	margin-top: 70px;
}
#aboutus .intro h6{
	font-size: 21px;
	font-style: italic;
	color: #252526;
	line-height: 29px;
	font-weight: normal;
	margin: 0 0 16px 0;
}
#aboutus .intro p{
	color: #3F3F3F;
	line-height: 24px;
}
#aboutus .flexslider{
	float: right;
	box-shadow: none;
	margin: 0;
	border:0 none;
}
#aboutus .flex-control-paging li a{
	background: #666666;
	box-shadow: none;
	width: 5px;
	height: 5px;
	border: 3px solid #E6E6E6;
}
#aboutus .flex-control-paging li a.flex-active{
	box-shadow: none;
	background: #2894DC;
	border-color: #2894DC;
}
#aboutus .flex-control-nav{
	bottom: -30px;
}
#team{
	padding: 35px 0 25px;
	margin: 0;
	margin-bottom: 20px;
}
#team .section_header{
	margin-bottom: 30px;
}
#team .section_header h3{
	color: rgb(100, 100, 100);
	border-color: #9D9D9E;
	margin: 0;
}
#team .people{
	margin: 0;
}
#team .people .row1{
	margin: 0 0 50px 0;
}
#team .people .bio_box{
	margin: 0;
	height:100px;
	overflow: hidden;
}
#team .people .bio_boxr{
	float: right;
}
#team .people .bio_box img{
	float: left;
	width: 100px;
	/*border-radius:50%;*/
}
#team .people .bio_boxr img{
	margin-left: 38px;
}
#team .people .bio_box .info{
	float: left;
	margin: 30px 0 0 30px;
	/*width: 280px;*/
}
#team .people .bio_box .info p{
	margin-bottom: 0;
}
#team .people .bio_box .info p.name{
	color: #3F3F3F;
	/*font-style: italic;*/
	margin-bottom: 4px;
	font-size: 21px;
}
#team .people .bio_box .info p.area{
	color: #98989A;
	font-style: italic;
	font-style: 16px;
	margin-bottom: 18px;
}
#team .people .bio_box .info a {
	margin-right: 10px;
}
#team .people .bio_box .info a span{
	display: inline-block;
	width: 33px;
	height: 33px;
}

#info{
	padding: 0px 0 25px;
	margin: 0;
	margin-bottom: 20px;
}
#info .section_header{
	margin-bottom: 30px;
}
#info .section_header h3{
	color: rgb(100, 100, 100);
	border-color: #9D9D9E;
	margin: 0;
}
#info .people{
	margin: 0;
}
#info .people .bio_box{
	margin: 0;
	height:240px;
	overflow: hidden;
}
#info .people .bio_box .info{
	float: left;
	margin: 0 0 0 0px;
	width: 280px;
}
#info .people .bio_box .info p{
	margin-bottom: 0;
}
#info .people .bio_box .info p.name{
	color: #3F3F3F;
	/*font-style: italic;*/
	margin-bottom: 4px;
	font-size: 19px;
}
#info .people .bio_box .info span.area{
	color: #98989A;
	font-style: italic;
	font-size: 14px;
	margin-bottom: 18px;
	margin-left: 5px;
}

#secretariat{
	min-height: 150px;
}
#secretariat .section_header{
	margin-bottom: 30px;
}
#secretariat .section_header h3{
	margin: 0;
}
#secretariat .people{
	margin: 0;
}
#secretariat .people .bio_box{
	margin: 0;
	height:80px;
	overflow: hidden;
}
#secretariat .people .bio_box .info{
	float: left;
	margin: 0 0 0 0px;
	width: 280px;
}
#secretariat .people .bio_box .info p{
	margin-bottom: 0;
}
#secretariat .people .bio_box .info p.name{
	color: #3F3F3F;
	/*font-style: italic;*/
	margin-bottom: 4px;
	font-size: 21px;
}
#secretariat .people .bio_box .info span.area{
	color: #98989A;
	font-style: italic;
	font-size: 14px;
	margin-bottom: 18px;
	margin-left: 5px;
}

.socialicons{
	background: url('../img/socialicons.png') no-repeat;
	width: 265px;
	height: 36px;
}
.socialicons_h{
	background: url('../img/socialicons_h.png') no-repeat;
	width: 265px;
	height: 36px;
	display: none !important;
}
#process{
	min-height: 200px;
}
#process .section_header{
	margin-bottom: 30px;
}
#process .section_header h3{
	margin: 0;
}
#process .description{
	position: relative;
}
#process .description .text{
	position: absolute;
	display: none;
}
#process .description .text.active {
	display: block;
}
#process .description h4{
	font-size: 31px;
	line-height: 35px;
	margin-bottom: 20px;
}
#process .description p{
	font-size: 15px;
	color: #3F3F3F;
	line-height: 26px;
}
#process .areas{
	margin-left: 0;
	float: right;
}
#process .areas .circle{
	height: 210px;
	cursor: pointer;
	float: left;
	margin-right: -45px;
	text-align: center;
	width: 210px;
	background: rgba(37, 37, 40, 0.9);
	border-radius: 100%;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}
#process .areas .first{
	margin-left: 0;
}
#process .areas .circle img{
	margin-top: 56px;
}
#process .areas .circle span{
	font-weight: 700;
	font-size: 22px;
	color: #fff;
	display: block;
	margin-top: 21px;
}
#process .areas .circle:hover,
#process .areas .circle.active {
	background: rgba(17, 137, 217, 1);
}

#sponsor{
	padding: 35px 0 25px;
	margin: 0;
	margin-bottom: 20px;
}
#sponsor .section_header{
	margin-bottom: 30px;
}
#sponsor .section_header h3{
	color: rgb(100, 100, 100);
	border-color: #9D9D9E;
	margin: 0;
}
#sponsor .people{
	margin: 0;
}
#sponsor .people .row1{
	margin: 0 0 50px 0;
}
#sponsor .people .bio_box{
	margin: 0;
	height: 50px;
	overflow: hidden;
}
#sponsor .people .bio_boxr{
	float: right;
}
#sponsor .people .bio_box img{
	float: left;
	height: 45px;
	/*border-radius:50%;*/
}
#sponsor .people .bio_boxr img{
	margin-left: 38px;
}

#extra{
	margin-bottom: 40px;
	margin-top: 10px;
}

/* Responsive
-------------------------------------------------- */
@media (min-width: 768px) and (max-width: 979px) { 
	#team .people .bio_box{
		text-align: center;
		height: 180px;
	}
	#team .people .bio_box img{
		float: none;
		margin-bottom: 25px;
		margin-left: 0;
	}
	#process .areas{
		text-align: center;
	}
	#team .people .bio_box .info{
		margin: 0;
		float: none;
	}
	#process .areas .last_circle{
		float: none;
		display: inline-block;
		margin-left: -75px;
		margin-top: -54px;
	}
	#info .people .bio_box{
	  height: auto;
	}
	#sponsor .people .bio_box{
		text-align: center;
		height: 60px;
	}
	#sponsor .people .bio_box img{
		float: none;
		margin-bottom: 25px;
		margin-left: 0;
	}
}
@media (max-width: 768px) { 
	#team .people .row1{
		margin-bottom: 0px;
	}
	#team .people .bio_box{
		text-align: center;
		height:200px;
	}
	#team .people .bio_box img{
		float: none;
		margin-bottom: 25px;
		margin-left: 0;
	}
	#process .areas{
		text-align: center;
	}
	#team .people .bio_box .info{
		margin: 0;
		float: none;
	}
	#process{
	  margin-bottom: 20px;
	}
	#process .areas .last_circle{
		float: none;
		display: inline-block;
		margin-left: -75px;
		margin-top: -54px;
	}
	#sponsor .people .row1{
		margin-bottom: 0px;
	}
	#sponsor .people .bio_box{
		text-align: center;
		height:100px;
	}
	#sponsor .people .bio_box img{
		float: none;
		margin-bottom: 25px;
		margin-left: 0;
	}
}