html {
	margin: 0;
}
body {
	position: relative;
	background: #DDDCE2 url(../img/body_bg.jpg) repeat left top;
	-webkit-font-smoothing: antialiased;
	font-family: 'Lato', sans-serif !important;
	padding-top: 107px;
}
@media (max-width: 979px) {
	body { padding-top: 0 !important; }
}
a:hover {
	text-decoration: none;
}
input[type="text"], 
input[type="password"], 
input[type="submit"],
textarea {
	font-family: 'Lato', Helvetica;
}

/* Navbar
-------------------------------------------------- */
body.pull_top {
    padding-top: 0px !important;
}
header {
    /*background: rgba(0,0,0,.6) !important;*/
}
.navbar.navbar-static-top {
    margin-bottom: 35px;
}
.navbar.transparent.navbar-inverse .navbar-inner {
    /*background: rgba(0,0,0,0.4);*/
    border-bottom: 1px solid rgb(88, 88, 88);
}
.navbar.transparent.navbar-inverse .navbar-inner .container {
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-transition: margin .2s ease-in-out;
    -moz-transition: margin .2s ease-in-out;
    transition: margin .2s ease-in-out;
}
.navbar.navbar-inverse .navbar-inner {  
    padding: 10px 0px 10px 0px;
    /*background: #252528; */   
}
.navbar.navbar-inverse img {  
    height: 80px;  
}
.navbar.navbar-inverse .navbar-inner.sticky {
    /*background: rgba(0,0,0,0.8);*/
    border-bottom: 1px solid #252525;
}
.navbar-inverse .navbar-inner.sticky .container {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.navbar-inverse .brand {
    color: #fff;
}
.navbar-inverse .nav > li > a {
    /*color: rgb(177, 177, 177);*/
    font-size: 13px;
    font-weight: bold;
    line-height: 32px;
    margin-top: 23px;
    color: #000;
    /*text-shadow: 0 1px 0 rgba(0,0,0,.5);*/
    opacity: .6;
    filter: alpha(opacity=60);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}
.navbar-inverse .nav > li > a > span {
    color: #666;
}
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav > li > a.active {
    color: #000;
    opacity: 1;
    filter: alpha(opacity=100);
}
.navbar-inverse .dropdown-menu {
	background: #252528;
}
.navbar-inverse .nav > li > .dropdown-menu::after {
	border-bottom: 6px solid #252528;
}
.navbar-inverse .dropdown-menu li > a {
	color: #fff;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  text-decoration: none;
}

.section_header {
	width: 100%;
	margin-bottom: 30px;
}
.section_header h3 {
	color: rgb(100, 100, 100);
	font-weight: 300;
	font-style: italic;
	font-size: 25px;
	border-bottom: 1px solid #b3b3b3;
	padding-bottom: 0px;
	display: inline-block;
	margin:0;
}


#header_text a{
	font-size: 18px;
}

#program .table tr.table_header{
	background-color: #d9edf7;
}
#program .table td.table_time{
	text-align: center;
	width: 140px;
}
#program .table td.table_text{
	padding-left: 30px;
}
#program .table td.active{
	background-color: #fcf8e3;
}

/* Footer
-------------------------------------------------- */
#footer {
	margin-top: 140px;
	background-color: #252528;
	color: #fff;
	padding-bottom: 10px;
}
#footer .footer_header {
	color: rgb(196, 196, 196);
	font-style: italic;
	font-weight: 300;
	font-size: 25px;
	margin-bottom: 40px;
	margin-left: 15px; 
}

#footer .credits {
	border-top: 1px solid #343437;
	padding: 10px 0px 10px 0px;
}
#footer .credits .copyright {
	color: #a6a6a7;
	font-style: italic;
	text-align: center;
	margin-top: 10px;
}

/*Inner Footer*/
#footer .info{
	margin-bottom: 30px;
	margin-left: 0;
}
#footer .info .residence{
	margin-left: 0;
}
#footer .info ul{
	margin: 0;
	padding: 0;
}
#footer .info ul li{
	list-style: none;
	font-size: 16px;
	color: #777E83;
	line-height: 23px;
}
#footer .info ul a{
	color: #777E83;
	-webkit-transition: color .2s;
	-moz-transition: color .2s;
	-ms-transition: color .2s;
	transition: color .2s;
}
#footer .info ul a:hover{
	color: #A9B4BB;
}
#footer .info .touch{
	float: right;
}
#footer .info .touch ul li{
	display: inline-block;
	margin-left: 30px;
}

/* Global
-------------------------------------------------- */
.page_header {
	background-color: #000;
	color: #fff;
	font-size: 23px;
	display: inline-block;
	padding: 0px 18px;
}

/* Responsive
-------------------------------------------------- */
@media (max-width: 979px) {
	.navbar.transparent.navbar-fixed-top, 
	.navbar.home.navbar-fixed-top{
		margin-bottom: 0px;
	}
	.navbar.transparent.navbar-inverse .navbar-inner {
		background: #252528;
	}
	.navbar-inverse .nav-collapse .nav > li > a, 
	.navbar-inverse .nav-collapse .dropdown-menu a {
		color: #fff;
		opacity: 0.7;
	}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
	.navbar.transparent.navbar-fixed-top, 
	.navbar.home.navbar-fixed-top{
		margin-bottom: -70px;
		position: relative;
		top: 999;
	}
}
@media (max-width: 767px) {
	footer {
		margin-right: -20px;
		margin-left: -20px;
	}
	#footer{
		margin-right: -20px;
		margin-left: -20px;
	}
	#footer .container{
		padding: 0px 20px;
	}
	/*Index Footer*/
	#footer .footer_header {
		margin-left: 0;
	}
	#footer .footer_header h3{
		margin-left: 0;
	}
	#footer .contact{
		margin: 0;
	}
	#footer .contact .footer_header{
		margin-left: 0;
	}
	#footer .contact input[type="text"], #footer .contact textarea{
		float: left;
		width: 92%;
	}
	/*Inner Footer*/
	#footer .info .touch ul li{
		margin: 0 30px 0 0;
	}
	#footer .info .touch ul{
		margin:15px 0 15px;
	}
}